<h2>Sign up</h2>


<div class="signup" *ngIf="!successfullySignup">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup(signupForm.value)">
    <p>
      <label>Name: </label>
      <input class="form-control" type="text" formControlName="name">
    </p>
    <p>
      <label>Email: </label>
      <input class="form-control" type="email" formControlName="email">
    </p>
    <p>
      <label>Password: </label>
      <input class="form-control" type="password" formControlName="password">
    </p>
    <button class="btn-login" type="submit">Submit</button>
  </form>
</div>

<div class="confirmation" *ngIf="successfullySignup">
  <form [formGroup]="confirmationForm" (ngSubmit)="onSubmitConfirmation(confirmationForm.value)">
    <p>
      <label>Email: </label>
      <input class="form-control" type="email" formControlName="email">
    </p>
    <p>
      <label>Confirmation Code: </label>
      <input class="form-control" type="text" formControlName="confirmationCode">
    </p>
    <button class="btn-login" type="submit">Confirm</button>
  </form>
</div>
<p><button (click)="successfullySignup = true" *ngIf="!successfullySignup">Confirm account with email code</button></p>
<div class="error" *ngIf="signupErrorMsg"><p>{{ signupErrorMsg }}</p></div>
